
.productCard {
    background-color: #EFF5F6;
    border-radius: 20px;
    width: 300px;
    
}
.productCardContainer {
    margin: 13px;
    font-weight: 600;
    font-size: 20px;
}
.productCardBuy {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addToCart, .buy {
    cursor: pointer;
}

.buy {
    background-color: #FF3B30;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    height: 35px;
}

.descriptionCard {
    font-size: 1;
}