
.productCard {
    background-color: #EFF5F6;
    border-radius: 20px;
    width: 300px;
}
.productCardContainer {
    margin: 13px;
}
.productCardBuy {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addToCart, .buy {
    cursor: pointer;
}

.buy {
    
}