
.cartItem {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    width: 90%;
    height: 200px;
    font-weight: 500;

}
.item1 {
    grid-column: span 3;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.itemNote {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 27px;
}


.item2, .item3, .item4, .item5 {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.btnNote {
    border: none;
    background-color: #A3D5DA ;
    width: 131px;
    height: 34px;
    text-align: center;
    color: #FF3B30;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
.btn_count {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.text_count {
    box-sizing: border-box;
    border: 1px  solid  black;
    height: 30px;
    width: 40px;
    text-align: center;
}
.itemNote p {
    word-wrap: break-word;  /* Đảm bảo rằng từ dài không bị tràn ra ngoài */
    white-space: normal;    /* Đảm bảo văn bản xuống dòng */
    width: 100%;            /* Đảm bảo p chiếm hết chiều rộng của container */
}
.itemNote {
    display: flex;
    flex-direction: column;  /* Để các phần tử con nằm theo chiều dọc */
    align-items: flex-start; /* Căn chỉnh các phần tử con theo chiều dọc */
    width: 100%;             /* Đảm bảo chiều rộng đầy đủ cho container */
}

.itemNote p {overflow-wrap: break-word;
     /* Cho phép từ dài bị gãy xuống dòng */
    white-space: normal;    /* Đảm bảo văn bản sẽ xuống dòng */
    width: 100%;            /* Đảm bảo thẻ <p> chiếm hết chiều rộng của container */
    overflow-wrap: break-word;  /* Đảm bảo văn bản dài không bị tràn ra ngoài */
}