.cartItem {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    width: 90%;
    align-items: center;
    height: 200px;
}
.item1 {
    grid-column: span 3;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.itemNote {
    display: flex;
    flex-direction: column;
}