span {
    display: flex
}
.userInfo {
    margin-left: 157px;
    tex
}
.userInfoContainer {
    position: relative;
    padding-top: 35px;
}
.iconEdit {
    position: absolute;
    right: 100px;
    top: 10px;
}
#info {
    margin-top: 50px;
}