span {
    display: flex
}
.userInfo {
    margin-left: 157px;
}
.userInfoContainer {
    position: relative;
}
.iconEdit {
    position: absolute;
    right: px;
    top: 10px;
}
#info {
    margin-top: 50px;
}