.cartEmptyBody {
    position: relative;
}

.cartEmptyContent {
    position: absolute;
    top: 2.688rem;
    left: 3.75rem;
    font-size: 30px;
    font-weight: 600;
    color: ;
}
.cartEmptyContent p {
    margin: 0;
    margin-bottom: 24px;
    
}
