.cartEmptyBody {
    position: relative;
}

.cartEmptyContent {
    position: absolute;
    top: 2.688rem;
    left: 3.75rem;
    font-size: 30px;
    font-weight: 600;
    color:#A80101 ;
}
.cartEmptyContent p {
    margin: 0;
    margin-bottom: 24px;
    color: black;
}

.cartEmptyContent button {
    position: absolute;
    top: 14.125rem;
    left: 0;
    font-size: 30px;
    width: 300px;
    border: 1px solid #A80101;
    background-color: #A80101;
    color: white;
    height: 68px;
    border-radius: 50px;
}