.orderItem,
.item_rightTop,
.item_rightBot,
.item {
    display: flex;
    /* justify-content: space-around; */
}

.orderContent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.item_right {
    grid-column: span 2;
}