.orderContent {
    width: 80%;
}
.orderContent,
.item_rightTop,
.item_rightBot,
.item_left {
    display: flex;
    justify-content: space-between
}

.orderText {
    display: flex;
    flex-direction: column;
}
