.managementContainer {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

.sideBarManagement {
    width: 330px;
    background-color: #A3D5DA;
    height: 100vh;
}

.contentManagement {

}