
  .ant-btn-primary {
    background-color: black !important;
    border-color: black !important;
  }
  
  .ant-btn-primary:hover {
    background-color: #333 !important;
    border-color: #333 !important;
  }
  