.listCartHead {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    width: 90%;
    
}
.text1 {
    grid-column: span 3;
    margin-left: 30px;
}
:where(.css-dev-only-do-not-override-cdzvx5).ant-checkbox .ant-checkbox-input {
    width: 25px;
    height: 25px;
    border: 1px solid black; /* Viền đen */
}

/* Khi checkbox được chọn */
:where(.css-dev-only-do-not-override) .ant-checkbox-checked .ant-checkbox-inner {
    background-color: white !important; /* Nền trắng */
    border-color: black !important; /* Viền đen */
}

/* Đổi màu dấu tích thành đen */
:where(.css-dev-only-do-not-override) .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: black !important; /* Mũi tên (dấu tích) màu đen */
    width: 6px;
    height: 12px;
}